<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<form name="registerForm" novalidate>
				<legend>Ingresar vehiculo</legend>
			
				<div class="form-group">
					<label for="">Ingrese el numero de la placa</label>
					<input type="text" class="form-control" placeholder="XYZ-000" ng-model="vm.placa">
				</div>
			
				<button type="submit" class="btn btn-primary" ng-click="vm.create()">Ingresar vehiculo</button>
			</form>
		</div>
		<div class="col-xs-12 col-md-4">
			<h3 class="lead">Puestos disponibles: {{vm.cantidadPuestos[0]}}</h3>
		</div>
	</div>
</div>
